form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: white;
    width:130%;
    height: 96%;
    border-top: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.field{
    display: flex;
    flex-direction: column;
}

.field input, select{
    width: 300px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.field input:focus, select:focus{
    border-bottom: 1px solid white;
}

.submit{
    margin-top: 25px;
}